/* 讀取類別 class (.) */

.BackColor {
    background-color: #F6F3EF;
}

#Abouts .Title, #Skills .Title, #Works .Title, #Contacts .Title {
    text-align: center;
    /* 留白取代高度 */
    padding: 80px 0 40px 0;
    font-size: 22px;
    font-weight: bold;
    color: #5E4B3C;
}

.lineB {
    width: 80px;
    height: 3px;
    background-color: #5E4B3C;
    margin: 15px auto 0 auto;
    border-radius: 2px;
}

/* 子孫選擇器 利用空白跳階層 */
#Abouts li {
    max-width: 50%;
    margin: 0 auto;
    line-height: 1.6;
    color: #5E4B3C;
    /* 文字置中 */
    text-align: center;
    padding-bottom: 80px;
    /* 文字大小 */
    font-size: 18px;
}

#Works .Title h2 {
    color: #F6F3EF;
}

.lineW {
    width: 80px;
    height: 3px;
    background-color: #F6F3EF;
    margin: 15px auto 0 auto;
    border-radius: 2px;
}
